h1 {
    text-align: center;
    background-color:#2d2d2e;
    color:white;
    padding: 12px;
}
.hide{
    display: none;
}
#city-forecast{
    padding: 3%;
    background-color:white;
    border: 1px solid black;
}
.col-8{
    padding: 3%;
}
.col-4{
    background-color: #ebeff1;
}
#Blue{
    background-color:#487cff;
    margin: 2%;
}
img{
    width: 50%;
}